@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
     padding: 0;
    box-sizing: border-box;

}

body{
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  
 
}

header{
  background-color: black;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  
  
}



.head-1-flex{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    width: 100%;
   
   
}

.head-h1{
    font-size: 36px;
    color: #E6533C;
    
   
}

.a-space{
    gap: 40px;
    display: flex;
    margin-top: 20px;
    padding: 20px;
}
.a1{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E6533C;
    font-size: 20px;
    padding: 15px;
    border-radius: 12px;
}
.a2{
    text-decoration: none;
     color: #FFFFFF;
     font-size: 20px;
    
}
.hamburger{
    display: none;
}
@media screen and (max-width:576px) {
    .a-space{
        display: none;

    }

    .hamburger{
    display: block;
    cursor: pointer;
    color: #FFFFFF;
}
.head-h1{
    font-size: 25px;
    color: #E6533C;
   
}




.head-1-flex{
    display: flex;
    /*justify-content: space-between;*/
   max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
     
   
}












}

@media screen  and ( min-width:577px) and (max-width:992px){
    .hamburger{
    display: none;
}

    .a-space{
        gap: 15px;
    }



.head-1-flex{
    display: flex;
    /*justify-content: space-between;*/
   max-width: auto;
   justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    width: 100%;
     gap: 150px;
   
}









}

.left-first{
    
    text-align: start;
    
}
.left-first h1{
    font-size: 72px;
    color: #FFFFFF;
}
.left-first p{
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 10px;
}

.left-button{
    margin-top: 30px;
    gap: 20px;
    display: flex;
}

.left-btn-1{
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #E6533C;
    color: #FFFFFF;
    text-decoration: none;

}


.left-btn-3{
     text-decoration: none;
      padding: 10px 40px;
    border-radius: 10px;
     color: #FFFFFF;
     border: 1px solid white;
}

.left-right-flex{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    
    /*
     gap: 280px;
     gap: 400px;*/

}



@media screen  and ( min-width:577px) and (max-width:992px){
    
.left-first{
    margin-top: 20px;
    text-align: start;
   
    gap: 10px;
}

.left-button{
    margin-top: 30px;
    gap: 20px;
    display: flex;
    justify-content: start;
}
.left-first h1{
    font-size: 72px;
    color: #FFFFFF;
}
.left-first p{
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 10px;
}

.left-btn-1{
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #E6533C;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;

}


.left-btn-3{
     text-decoration: none;
      padding: 10px 40px;
    border-radius: 10px;
     color: #FFFFFF;
     border: 1px solid white;
     font-size: 22px;

}

.left-right-flex{
    flex-direction: column;
    align-items: center;
    text-align: center;
     width: 90%;
    margin: 0 auto;
   gap: 10px;
    
    
}


}




@media screen and (max-width:576px) {
    
.left-first p{
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 10px;
}


.left-first h1{
    font-size: 40px;
    text-align: start;
}

.left-right-flex{
    flex-direction: column;

}


.left-btn-1{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #E6533C;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;

}


.left-btn-3{
     text-decoration: none;
      padding: 10px 20px;
    border-radius: 10px;
     color: #FFFFFF;
     border: 1px solid white;
     font-size: 15px;

}

.left-right-flex{
    display: flex;
    margin: 0 auto;
    gap: 10px;
    
    
}

}

 .right-part{
       justify-content: end;
      padding: 50px;
       gap: 10px;
      
    }





.img-btn-1-flex{
    display: flex;

   
}


.imgages{
     position: relative;
    display: inline-block;
}
.images img{
    width: 100%;
    height: auto;
    display: block;
    justify-content: end;

}
.Button-1{
    position:absolute;
    margin-top: 198px;
   color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #3030308A;
    left: 50%;
    transform: translateX(280%);
    /*
    margin-left: -100px;

     margin-right:-190px;*/

}


.span{
    background-color: #E6533C;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}







.Button-2{
    position:absolute;
   display: flex;
   color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #3030308A;
     margin-top: -180px;
    /*     margin-left: -6px;       */
      margin-left: -45px;
     gap: 10px;


}


.Button-2 h1{
    font-size: 40px;
}

.Button-1 h1{
  font-size: 40px;
}

.spans{
     background-color: #E6533C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    padding: 5px;
}

@media screen and (max-width:576px){

    .right-part{
       justify-content: center;
      
    }
    .img-btn-1-flex{
        justify-content: center;
    }

 .Button-1{
    position:absolute;
    margin-top: 155px;
   color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #3030308A;
  /*   margin-left:-150px;*/
   left: 50%;
    transform: translateX(50%);
    

} 
}

@media screen  and (min-width:577px) and (max-width:992px){
    .right-part{
       justify-content: center;
       /*padding: 120px;*/
       gap: 10px;
      
    }
    .img-btn-1-flex{
        justify-content: center;
    }


.Button-1{
    position:absolute;
    margin-top: 198px;
   color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #3030308A;
    /* margin-left:-100px;*/
    left: 50%;
    transform: translateX(20%);

}
/*
.Button-2{
    position:absolute;
   display: flex;
   color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #3030308A;
     margin-top: -180px;
     margin-right: -400px;
   
}*/
.Button-2{
    position:absolute;
   display: flex;
   color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #3030308A;
     margin-top: -180px;
     /*
      margin-left: 120px;
   */
    right: 50%;
    transform: translateX(5%);
    
    /*
     margin-top: -50px;
     margin-right: -10px;*/
}
}

/**main part*/


.black{
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.main-1{
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}
.main-1 h1{
    font-size: 35px;
}

.main-1 p{
    font-size: 20px;
    margin-top: 10px;
    color: #FFFFFF80;
}



.Movement-pera p{
   
    color: #FFFFFF80;
    margin-top: 10px;
}

.Movement-pera h1{
    color: #FFFFFF;
    margin-top: 15px;
   
}
.main-2{
  
       width: 90%;
     padding: 20px;
    margin: 40px auto 0;
    text-align: center;
   
    display: grid;
   
    grid-template-columns: repeat(4,1fr);
    
}

.movement-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}






.movement-img img{
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

@media screen and (min-width:577px) and (max-width:992px){
        .main-2{
    margin-top: 40px;
   
    text-align: center;
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    
}
}
@media screen and (max-width:576px){

     .main-2{
    margin-top: 40px;
   
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
    
}
}



.left-3-part{
    color: #FFFFFF;
    gap: 20px;
    margin-top: 50px;
    text-align: start;
    padding: 15px;
    
    
}

.left-3-part p{
    margin-top: 20px;
    text-align: start;
}


.left-3-part h1{
    margin-top: 20px;
    text-align: start;
}
.a-btn{
    margin-top: 15px;
    text-decoration: none;
     color: #FFFFFF;
     background-color: #E6533C;
    padding: 10px 105px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
   
}





.left-btn {
    margin-top: 50px;
    background-color: #E6533C;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    color: #FFFFFF;


}

.part-3{
    margin-top: 60px;
    padding: 15px;
}
.part-3-flex{
    display: flex;
    margin-top: 100px;
    background-color: #222222;
    border-radius: 15px;
     margin: 0 auto;
     text-align: center;
     justify-content: center;
     gap: 90px;
     
     width: 80%;
     padding: 15px;

}
.part-3-img img{
    height: 300px;
    width: 500px;
    border-radius: 20px ;
    border: none;
   padding: 15px;

}

.part-3-img img{
    height: 300px;
    width: 500px;
    border-radius: 20px ;
    border: none;
   padding: 15px;

}

@media screen and (min-width:577px)  and (max-width:992px){
    

.a-btn{
    margin-top: 15px;
    text-decoration: none;
     color: #FFFFFF;
     background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
   
}




.part-3-img img{
    height: 500px;
    width: 400px;
    border-radius: 30px ;
    border: none;
   padding: 20px;

}

.part-3-flex{
    display: flex;
    margin-top: 100px;
    background-color: #222222;
    border-radius: 15px;
     margin: 0 auto;
     text-align: center;
     justify-content: center;
    align-items: center;
     width: 80%;
     padding: 25px;
     gap: 10px;

}


.left-3-part{
     padding: 20px;
     margin-top: 30px;
}

.left-3-part p{
    font-size: 14px;
}



.left-3-part h1{
    font-size: 34px;

}
}







@media screen  and (max-width:576px){

    
.part-3-flex{
    flex-direction: column;
      gap: 20px;
}

   
.part-3-img img{
    height: 300px;
    width: 400px;
    border-radius: 30px ;
    border: none;
   padding: 15px;

}

.left-3-part{
     padding: 15px;
}


.a-btn{
    margin-top: 10px;
    text-decoration: none;
     color: #FFFFFF;
     background-color: #E6533C;
    padding: 10px 150px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
   
}


.left-3-part p{
    font-size: 12px;
}
}

.main-4{
    color: #FFFFFF;
   justify-items: center;
   padding: 5px;
   margin: 0 auto;
  width: 78%;


    
}


.main-4 h1 {
    text-align: start;
    margin-top: 50px;
}

.main-4 p {
    text-align: start;
    color:#FFFFFF80;
}



 .main-part-5{
    margin: 0 auto;
    justify-content: center;
    color: #FFFFFF;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3,1fr);
    margin-inline: auto;
    margin-top: 30px;
    padding: 5px;
 }

 .back-1{
background-image:linear-gradient(#06FFD280, #06FFD280), url("images/exercise1.jpg");
height: 220px;
width: 270px;
 margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
 background-size:cover;
 margin-right: 30px;
display: flex;
 align-items: flex-end;
 justify-content: flex-start;
 padding: 10px;
 

 }

 .p-1{
    color:black;
    font-size: 15px;
 }


 .back-2{
background-image: linear-gradient(rgba(255, 0, 0, 0.292),rgba(255, 0, 0, 0.292)) ,  url("images/exercise2.png");
height: 220px;
width: 450px;
 margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
 background-size:cover;
 margin-left: -30px;

 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 padding: 10px;
 


 }


 
 .back-3{
background-image: linear-gradient(#00000080, #00000080),
url("images/exercise3.png");
height: 220px;
width: 350px;
 margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
 background-size:cover;
 margin-left: -60px;
display: flex;
 align-items: flex-end;
 justify-content: flex-start;
 padding: 10px;
 

 }

 
 .back-4{
background-image: linear-gradient(#00000080,#00000080),
 url("images/exercise4.png");
height: 220px;
width: 390px;
 margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
 background-size:cover;
 margin-right: -90px;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 padding: 10px;
 


 }


 
 .back-5{
background-image: linear-gradient(#42FF004D,#42FF004D),
url("images/exercise5.jpg");
height: 220px;
width: 360px;
 margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
 background-size:cover;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 padding: 15px;


 }

 
 .back-6{
background-image: linear-gradient(#0048ffaf,#0048ffaf),
url("images/exercise6.jpg");
height: 220px;
width: 350px;
 margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
 background-size:cover;
 margin-left: -60px;

 display: flex;
 align-items: flex-end;
 justify-content: center;
 padding: 15px;

 }

 @media screen and (min-width:577px) and (max-width:992px){



 .back-1{
background-image:linear-gradient(#06FFD280, #06FFD280), url("images/exercise1.jpg");
height: 201px;
width: 180px;
}


 .back-2{
background-image: linear-gradient(rgba(255, 0, 0, 0.292),rgba(255, 0, 0, 0.292)) ,  url("images/exercise2.png");
height: 201px;
width: 340px;
}


 .back-3{
background-image: linear-gradient(#00000080, #00000080),
url("images/exercise3.png");
height: 201px;
width: 270px;

 }


 
 .back-4{
background-image: linear-gradient(#00000080,#00000080),
 url("images/exercise4.png");
height: 220px;
width: 280px;
 margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
 background-size:cover;
 margin-right: -70px;
 }


 .back-5{
background-image: linear-gradient(#42FF004D,#42FF004D),
url("images/exercise5.jpg");
height: 220px;
width: 300px;
}
 


 .back-6{
background-image: linear-gradient(#0048ffaf,#0048ffaf),
url("images/exercise6.jpg");
height: 220px;
width: 270px;
 }
}

@media screen  and ( max-width:576px){

    
 .main-part-5{
    margin: 0 auto;
    justify-content: center;
    color: #FFFFFF;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2,1fr);
    margin-inline: auto;
    margin-top: 30px;
 }
 .back-1{
background-image:linear-gradient(#06FFD280, #06FFD280), url("images/exercise1.jpg");
height: 128px;
width: 175px; 
}


 .back-2{
background-image: linear-gradient(rgba(255, 0, 0, 0.292),rgba(255, 0, 0, 0.292)) ,  url("images/exercise2.png");
height:128px;
width: 260px;
}


.back-3{
    display: none;
}
.back-6{
    display: none;
}


 


 .back-4{
background-image: linear-gradient(#00000080,#00000080),
 url("images/exercise4.png");
height: 127px;
width: 215px;
 margin-right: -10px;
}

 .back-5{
background-image: linear-gradient(#42FF004D,#42FF004D),
url("images/exercise5.jpg");
height: 127px;
width: 240px;
margin-left: -10px;


 }
}